<% include layouts/header %>
        <!-- end header -->
        <!-- start page container -->
        <div class="page-container">
 			<!-- start sidebar menu -->
 			<% include layouts/sidebar %>
			 <!-- end sidebar menu -->
			<!-- start page content -->
            <div class="page-content-wrapper">
                <div class="page-content">
                    <div class="page-bar">
                        <div class="page-title-breadcrumb">
                            <div class=" pull-left">
                                <div class="page-title"><%= page%></div>
                            </div>
                            <ol class="breadcrumb page-breadcrumb pull-right">
                                <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="index.html">Home</a>&nbsp;<i class="fa fa-angle-right"></i>
                                </li>
                                <li class="active"><%= page%></li>
                            </ol>
                        </div>
                    </div>
                     <!-- content -->
                     <div class="state-overview">
                     <div class="row">
                         <div class="col-lg-3 col-sm-6">
                             <div class="overview-panel purple">
                                 <div class="symbol">
                                     <i class="fa fa-users usr-clr"></i>
                                 </div>
                                 <div class="value white">
                                     <p class="sbold addr-font-h1" data-counter="counterup" data-value="23">23</p>
                                     <p>Lượt Thích</p>
                                 </div>
                             </div>
                         </div>
                         <div class="col-lg-3 col-sm-6">
                             <div class="overview-panel deepPink-bgcolor">
                                 <div class="symbol">
                                     <i class="fa fa-user"></i>
                                 </div>
                                 <div class="value white">
                                     <p class="sbold addr-font-h1" data-counter="counterup" data-value="48">48</p>
                                     <p>New Users</p>
                                 </div>
                             </div>
                         </div>
                         <div class="col-lg-3 col-sm-6">
                             <div class="overview-panel orange">
                                 <div class="symbol">
                                     <i class="fa fa-heartbeat"></i>
                                 </div>
                                 <div class="value white">
                                     <p class="sbold addr-font-h1" data-counter="counterup" data-value="14">14</p>
                                     <p>Bài Viết</p>
                                 </div>
                             </div>
                         </div>
                         <div class="col-lg-3 col-sm-6">
                             <div class="overview-panel blue-bgcolor">
                                 <div class="symbol">
                                     <i class="fa fa-money"></i>
                                 </div>
                                 <div class="value white">
                                     <p class="sbold addr-font-h1" data-counter="counterup" data-value="3421">3421</p><span>$</span>
                                     <p>Bình Luận</p>
                                 </div>
                             </div>
                         </div>
                     </div>
                     </div>  
                     <!-- add content here -->
                </div>
            </div>
            <!-- end page content -->
            <!-- start chat sidebar -->
           
            <!-- end chat sidebar -->
        </div>
        <!-- end page container -->
        <!-- start footer -->
        <% include layouts/footer %> 