<div class="page-footer">
<div class="page-footer-inner"> 2018 &copy; Website admin by
    <a href="mailto:dauxanhrauma000@gmail.com" target="_top" class="makerCss">Trung Hiếu</a>
</div>
<div class="scroll-to-top">
    <i class="icon-arrow-up"></i>
</div>
</div>
<!-- end footer -->
</div>
<!-- start js include path -->
<script src="/assets/plugins/jquery/jquery.min.js" ></script>
<script src="/assets/plugins/popper/popper.min.js" ></script>
<script src="/assets/plugins/jquery-blockui/jquery.blockui.min.js" ></script>
<script src="/assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<!-- bootstrap -->
<script src="/assets/plugins/bootstrap/js/bootstrap.min.js" ></script>
<!-- counterup -->
<script src="/assets/plugins/counterup/jquery.waypoints.min.js" ></script>
<script src="/assets/plugins/counterup/jquery.counterup.min.js" ></script>
<!-- Common js-->
<script src="/assets/js/app.js" ></script>
<script src="/assets/js/layout.js" ></script>
<script src="/assets/js/theme-color.js" ></script>

<!-- material -->
<script src="/assets/plugins/material/material.min.js"></script>
<!-- animation -->
<script src="/assets/js/pages/ui/animations.js" ></script>
<script src="/assets/js/pages/material_select/getmdl-select.js"></script>

<!-- chart js -->
 <!-- Sweet Alert -->
 <script src="/assets/plugins/sweet-alert/sweetalert.min.js" ></script>
 <script src="/assets/js/pages/sweet-alert/sweet-alert-data.js" ></script>
<!-- sparkline -->
<script src="/assets/plugins/sparkline/jquery.sparkline.min.js" ></script>
<script src="/assets/js/pages/sparkline/sparkline-data.js" ></script>
<!-- Include Editor JS files. -->
<script type="text/javascript" src="/assets/js/froala_editor.pkgd.min.js"></script>
 <!-- notifications -->
 <script src="/assets/plugins/jquery-toast/dist/jquery.toast.min.js" ></script>
 <script src="/assets/plugins/jquery-toast/dist/toast.js" ></script>

<div class="dtp hidden" id="dtp_h10SN" style=""><div class="dtp-content" style="margin-left: 0px; top: 0px;"><div class="dtp-date-view"><header class="dtp-header"><div class="dtp-actual-day">Wednesday</div><div class="dtp-close"><a href="javascript:void(0);"><i class="material-icons">clear</i></a></div></header><div class="dtp-date"><div><div class="left center p10"><a href="javascript:void(0);" class="dtp-select-month-before"><i class="material-icons">chevron_left</i></a></div><div class="dtp-actual-month p80">OCT</div><div class="right center p10"><a href="javascript:void(0);" class="dtp-select-month-after"><i class="material-icons">chevron_right</i></a></div><div class="clearfix"></div></div><div class="dtp-actual-num">10</div><div><div class="left center p10"><a href="javascript:void(0);" class="dtp-select-year-before"><i class="material-icons">chevron_left</i></a></div><div class="dtp-actual-year p80">2018</div><div class="right center p10"><a href="javascript:void(0);" class="dtp-select-year-after"><i class="material-icons">chevron_right</i></a></div><div class="clearfix"></div></div></div><div class="dtp-time hidden"><div class="dtp-actual-maxtime">23:55</div></div><div class="dtp-picker"><div class="dtp-picker-calendar"><div class="dtp-picker-month">October 2018</div><table class="table dtp-picker-days"><thead><tr><th>S</th><th>M</th><th>T</th><th>W</th><th>T</th><th>F</th><th>S</th></tr></thead><tbody><tr></tr><tr><td data-date="1"></td><td data-date="1"><a href="javascript:void(0);" class="dtp-select-day">01</a></td><td data-date="2"><a href="javascript:void(0);" class="dtp-select-day">02</a></td><td data-date="3"><a href="javascript:void(0);" class="dtp-select-day">03</a></td><td data-date="4"><a href="javascript:void(0);" class="dtp-select-day">04</a></td><td data-date="5"><a href="javascript:void(0);" class="dtp-select-day">05</a></td><td data-date="6"><a href="javascript:void(0);" class="dtp-select-day">06</a></td></tr><tr><td data-date="7"><a href="javascript:void(0);" class="dtp-select-day">07</a></td><td data-date="8"><a href="javascript:void(0);" class="dtp-select-day">08</a></td><td data-date="9"><a href="javascript:void(0);" class="dtp-select-day">09</a></td><td data-date="10"><a href="javascript:void(0);" class="dtp-select-day selected">10</a></td><td data-date="11"><a href="javascript:void(0);" class="dtp-select-day">11</a></td><td data-date="12"><a href="javascript:void(0);" class="dtp-select-day">12</a></td><td data-date="13"><a href="javascript:void(0);" class="dtp-select-day">13</a></td></tr><tr><td data-date="14"><a href="javascript:void(0);" class="dtp-select-day">14</a></td><td data-date="15"><a href="javascript:void(0);" class="dtp-select-day">15</a></td><td data-date="16"><a href="javascript:void(0);" class="dtp-select-day">16</a></td><td data-date="17"><a href="javascript:void(0);" class="dtp-select-day">17</a></td><td data-date="18"><a href="javascript:void(0);" class="dtp-select-day">18</a></td><td data-date="19"><a href="javascript:void(0);" class="dtp-select-day">19</a></td><td data-date="20"><a href="javascript:void(0);" class="dtp-select-day">20</a></td></tr><tr><td data-date="21"><a href="javascript:void(0);" class="dtp-select-day">21</a></td><td data-date="22"><a href="javascript:void(0);" class="dtp-select-day">22</a></td><td data-date="23"><a href="javascript:void(0);" class="dtp-select-day">23</a></td><td data-date="24"><a href="javascript:void(0);" class="dtp-select-day">24</a></td><td data-date="25"><a href="javascript:void(0);" class="dtp-select-day">25</a></td><td data-date="26"><a href="javascript:void(0);" class="dtp-select-day">26</a></td><td data-date="27"><a href="javascript:void(0);" class="dtp-select-day">27</a></td></tr><tr><td data-date="28"><a href="javascript:void(0);" class="dtp-select-day">28</a></td><td data-date="29"><a href="javascript:void(0);" class="dtp-select-day">29</a></td><td data-date="30"><a href="javascript:void(0);" class="dtp-select-day">30</a></td><td data-date="31"><a href="javascript:void(0);" class="dtp-select-day">31</a></td></tr></tbody></table></div><div class="dtp-picker-datetime hidden"><div class="dtp-actual-meridien"><div class="left p20"><a class="dtp-meridien-am" href="javascript:void(0);">AM</a></div><div class="dtp-actual-time p60"></div><div class="right p20"><a class="dtp-meridien-pm" href="javascript:void(0);">PM</a></div><div class="clearfix"></div></div><div id="dtp-svg-clock"></div></div><div class="dtp-picker-year hidden"><div><a href="javascript:void(0);" class="btn btn-default dtp-select-year-range before" style="margin: 0;"><i class="material-icons">keyboard_arrow_up</i></a></div><div class="year-picker-item" data-year="2015">2015</div><div class="year-picker-item" data-year="2016">2016</div><div class="year-picker-item" data-year="2017">2017</div><div class="year-picker-item" data-year="2018">2018</div><div class="year-picker-item" data-year="2019">2019</div><div class="year-picker-item" data-year="2020">2020</div><div class="year-picker-item" data-year="2021">2021</div><div><a href="javascript:void(0);" class="btn btn-default dtp-select-year-range after" style="margin: 0;"><i class="material-icons">keyboard_arrow_down</i></a></div></div></div></div><div class="dtp-buttons"><button class="dtp-btn-now btn btn-flat hidden btn-sm">Now</button><button class="dtp-btn-clear btn btn-flat btn-sm">Clear</button><button class="dtp-btn-cancel btn btn-flat btn-sm">Cancel</button><button class="dtp-btn-ok btn btn-flat btn-sm">OK</button><div class="clearfix"></div></div></div></div>
<!-- end js include path -->
</body>

 <!-- Initialize the editor. -->

</html>