<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <% if(!data){ %> <a href="/auth/google"><button type="button">Đăng nhập bằng google</button></a> <%}%>
  </body>
</html>
