
<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Title Page</title>

        <!-- Bootstrap CSS -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.3/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <h1 class="text-center">Hello World</h1>
        
        <div class="container">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                  <div class="navbar-header">
                    <a class="navbar-brand" href="#">WebSiteName</a>
                  </div>
                  <ul class="nav navbar-nav" id="datashow">
                           <% if(data){
                                data.forEach(element => { %> 
                                <li class=""><a href="/user/<%= element.link%>">
                                    <%= element.nameMenu%>
                                </a></li>
                                <% });
                            }
                            %>
                  </ul>
                </div>
              </nav>
              
            <div class="row">
                   
                  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                      
                      <form method="POST" role="form">
                          <legend>Thêm Menu</legend>
                      
                          <div class="form-group">
                              <label for="">Tên Menu</label>
                              <input type="text" class="form-control" id="name" placeholder="Tên menu" name="nameMenu">
                          </div>
                          <div class="form-group">
                            <label for="">Vị trí</label>
                            <input type="number" class="form-control" id="level" placeholder="Vị Trí" name="level">
                        </div>
                      
                        <div class="form-group">
                            <label for="">Trạng thái</label>
                           
                           <select name="hienthi" id="input" class="form-control" required="required">
                               <option value="false">Ẩn</option>
                               <option value="true">Hiện</option>
                           </select>
                           
                        </div>
                      
                          <button type="submit" class="btn btn-primary" id='addmenu'>Thêm</button>
                      </form>
                      
                  </div>
                  
            </div>
            
        </div>
        
        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Bootstrap JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>
<script>
$(function() {
  $("button").on("click", function (e) {
    e.preventDefault();
    $.ajax({
      type: 'POST',
      data: $("form").serialize(),
      url: '/user/testmenu',
      success: function(result) {
        $("#datashow").append('<li class=""><a href="'+ result.link+'">'+ result.nameMenu +'</a></li>');
        document.getElementById("name").value = "";
        document.getElementById("level").value = "";
      }
    });
  });
});
</script>